/* body{margin: 0;padding: 0} */
.about-bg{
  width: 100%;
  height: 100%;
  background: #0DD5FF;
  position: relative;
  overflow: hidden;
}
.about-text{
  position: absolute;
  left: 10.4%;
  bottom: 24%;
  width: 42%;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 35px;
}
.about-img{
  width: 50%;
  float: right;
}
.advantage-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.advantage-left{
  float: left;
  width: 50%;
  text-align: center;
}
.advantage-right{
  width: 50%;
  float: left;
}
.advantage-right ul li {
  width: 70%;
  padding: 20px 30px;
  background:rgba(13, 213, 255, 0.2);
  border-radius: 10px;
  font-size: 20px;
  color: #0DD5FF;
  margin-bottom: 60px;
}
.grow{
  position: relative;
  padding-bottom: 100px;
}
.growImg{
  position: absolute;
  bottom:100px;
  left: 0;
  width: 100%;
}
.growImgOne{
  margin: 0 auto;
  width: 26%;
  position: relative;
}
.growImgTwo{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}
.grow .grow-list{
  clear: both;
  margin: 0 auto  80px;
  overflow: hidden;
}
.listOne{width:170px;}
.listTwo{width: 43%;}
.listThree{width:60%;}
.listFour{width: 70%;}
.grow-item{
 width: 170px;
}
.grow-item .grow-name{
  font-size: 16px;
}
.grow-item .about-line{
  width: 100px;
  height: 2px;
  background: #0DD5FF;
  margin: 10px 0;
}
.grow-item p{
  font-size: 30px;
  color: #0DD5FF;
}