*{
  padding: 0;
  margin: 0;
}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #4A4A4A;  padding-top: 80px;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
img{max-width: 100%;}
.nav-top{
  position: fixed;
  top:-100%;
  left: 0;
  width:100vw;
  height: 100%;
  background: #0DD5FF;  
  z-index: 9999;
  transition: all 2s;
}
.nav-top-nav{
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 5%;
  box-sizing: border-box;
}
.nav-top-nav img{
  vertical-align:middle;
}
.nav-top-left{
  position: absolute;
  left: 0;
  top:0;
  width: 9.9%;
  height: 100%;
  background: url(../images/nav-top-right.png) no-repeat center center;
  background-size: 100% auto;
}
.nav-top-right{
  position: absolute;
  right: 0;
  top:0;
  width: 9.9%;
  height: 100%;
  background: url(../images/nav-top-left.png) no-repeat center center;
  background-size: 100% auto;
}
.nav-top-list{
  position: absolute;
  right: 0;
  left: 0;
  max-width: 400px;
  text-align: center;
  top:27.9%;
  margin: 0 auto;
}
.nav-top-list>ul li {
  margin-bottom: 30px;
}
.nav-top-list .nav-our ul {
  display: flex;
  justify-content: space-between;
}
.nav-top-list .nav-our ul li {
  margin: 0 20px;
}
.nav{
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  top: 0;
  left: 0;
  background: rgba(000, 000, 000, 0);
  z-index: 70;
  padding: 0 5%;
  box-sizing: border-box;
}
.nav-line{
  width: 40px;
  margin-top: 28px;
  cursor: pointer;
}
.nav-line span{
  display: block;
  width: 100%;
  height: 3px;
  background: #0DD5FF;
  margin: 0;
  border-radius: 5px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.nav-lineclo span{
  background: #fff;
}
.nav-line span:nth-child(2){
  margin: 10px 0;
}
.nav-line:hover span:nth-child(1){
  transform: translate3d(0, -3px, 0px);
  -webkit-transform: translate3d(0, -3px, 0px);
}
.nav-line:hover span:nth-child(3){
  transform: translate3d(0,3px, 0px);
  -webkit-transform: translate3d(0, 3px, 0px);
}
.nav div img{
vertical-align:middle;
}
.he50{height: 50px;}
.he30{height: 30px;}
.he80{height: 80px;}
.he100{height: 100px;}
.footer{
  background:#4A4A4A;
  padding: 80px;
  overflow: hidden;
  color: #fff;
  clear: both;
}
.footer-contact{
  width: 40%;
}
.footer-title{
 margin: 20px 0;
}
.footer p{
  font-size: 14px;
  height: 25px;
}
.footer-line{
  width: 50px;
  height: 2px;
  background: #fff;
  margin: 20px 0;
}
.footer-about{
  width: 50%;
  display: flex;
  justify-content:space-between;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px）) { 
  .center {
    width: 750px;
    margin: 0 auto;
    clear: both;

  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
  .center {
    width: 920px;
    margin: 0 auto;
    clear: both;
  }
 }

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .center {
    width: 1170px;
    margin: 0 auto;
    clear: both;

  }
}
@keyframes selectOne{
  0% {transform:scale(1)}
  50% {transform:scale(1.1)}
  100% {transform:scale(1)}
}
@-webkit-keyframes selectOne{
  0% {transform:scale(1)}
  50% {transform:scale(1.1)}
  100% {transform:scale(1)}
}
