.business-bg:hover img{
  animation:selectOne 1s  linear;
  -webkit-animation:selectOne 1s  linear;
}
.recruit-title{
	font-size: 40px;
	opacity: 0;
  transition: all 2s;
}
.ourslist ul,.recruit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ourslist ul li{
  width: 300px;
  height: 150px;
  border: 1px solid #0DD5FF;
  padding: 30px 45px 20px 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
	list-style-type: none;
	font-family: sans-serif;
	text-transform: uppercase;
	position: relative;
  transition: var(--t4x); /* duration 4x */
  cursor: pointer;
  opacity: 0;
  transition: all 2s;
  transform: translateY(150px);
}
.ourslist ul li.ourlist-one{
  transition-delay:.5s;
}
.ourslist ul li.ourlist-two{
  transition-delay:1s;
}
.ourslist ul li.ourlist-three{
  transition-delay:1.5s;
}
.ourslist ul li.ourlist-four{
  transition-delay:2s;
}
.ourslist ul li.ourlist-five{
  transition-delay:2.5s;
}
.ourslist ul li.ourlist-six{
  transition-delay:3s;
}
.ourslist .animated li{
  transform: translateY(0px);
  opacity: 1;
}
.ourslist ul li  p{
  font-size: 14px;
  color: #9B9B9B;
  text-align: center;
}
.ourslist ul li .ourlist-title{
  font-size: 20px;
  margin-bottom: 10px;
  color: #4A4A4A;;
}
/* .welfare ul */
.welfare ul li{
  float: left;
  width:33.33%;
  height: 310px;
  text-align: center;
	margin-bottom: 50px;
	opacity: 0;
  transition: all 1s;
  transform: translateY(150px);
}
.welfare ul li.welfare-one{
	transition-delay:1s;
}
.welfare ul li.welfare-two{
	transition-delay:1.5s;
}
.welfare ul li.welfare-three{
	transition-delay:2s;
}
.welfare ul li.welfare-four{
	transition-delay:2.5s;
}
.welfare ul li.welfare-five{
	transition-delay:3s;
}
.welfare .animated li{
  transform: translateY(0px);
  opacity: 1;
}
.welfare ul li p{
  width: 100%;
  max-width: 252px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #9B9B9B;
}
.recruit-list{
	position: relative;
}
.recruit-list .btn button{
	width: 150px;
	height: 40px;
	background: #0DD5FF;
	border-radius: 5px;
	color: #fff;
	border: none;
}
.done{
	display: none;
}
.recruit-list>div{
  width: 40%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  border: 1px solid #0DD5FF;
  background: rgba(13,213,255,0.10);
  border-radius: 5px;
  padding: 0 20px;
	margin-bottom: 50px;
	opacity: 0;
  transition: all 2s;
	transform: translateY(150px);
	overflow: hidden;
}
.recruit-list {
  height: 60px;
}
.recruit-list div.recruit-one{
	transition-delay:0.5s;
}
.recruit-list div.recruit-two{
	transition-delay:0.7s;
}
.recruit-list div.recruit-three{
	transition-delay:0.9s;
}
.recruit-list div.recruit-four{
	transition-delay:1.1s;
}
.recruit-list .all-recruit{
	position: fixed;
	right:0;
	left: 0;
	margin: 0 auto;
	top: 10%;
	width:100%;
	max-width: 1200px;
	height:80vh;
	background: #fff;
	overflow-y:auto;
	z-index: 999999;
}
.recruit-list .all-recruit .done{
	display: block;
}
.recruit-list .all-recruit .open{
	display: none;
}
.animatedDiv div{
	transform: translateY(0px);
  opacity: 1;
}
/* 特效 */
:root {
	--time-slot-length: 0.1s;
	--t1x: var(--time-slot-length);
	--t2x: calc(var(--time-slot-length) * 2);
	--t3x: calc(var(--time-slot-length) * 3);
	--t4x: calc(var(--time-slot-length) * 4);
	--color: dodgerblue;
}


.ourslist ul li:hover {
	color: var(--color);
	animation: pulse ease-out 1s var(--t4x); /* delay 4x */
}

.ourslist ul li::before,
.ourslist ul li::after {
	content: '';
	position: absolute;;
	width: 0;
	height: 0;
	border-radius: 0.1em;
	visibility: hidden;
}

.ourslist ul li::before {
	top: 0;
	left: 0;
	border-top: 1px solid var(--color);
	border-right: 1px solid var(--color);
	transition:
		height linear var(--t1x) var(--t2x), /* delay 2x */
		width linear var(--t1x) var(--t3x), /* delay 3x */
		visibility 0s var(--t4x); /* delay 4x */
}

.ourslist ul li::after {
	bottom: 0;
	right: 0;
	border-bottom: 1px solid var(--color);
	border-left: 1px solid var(--color);
	transition:
		height linear var(--t1x),
		width linear var(--t1x) var(--t1x), /* delay 1x */
		visibility 0s var(--t2x);  /* delay 2x */
}

.ourslist ul li:hover::before,
.ourslist ul li:hover::after {
	width: 100%;
	height: 100%;
	visibility: visible;
}

.ourslist ul li:hover::before {
	transition:
		visibility 0s,
		width linear var(--t1x),
		height linear var(--t1x) var(--t1x); /* delay 1x */
}

.ourslist ul li:hover::after {
	transition: 
		visibility 0s var(--t2x), /* delay 2x */
		width linear var(--t1x) var(--t2x), /* delay 2x */
		height linear var(--t1x) var(--t3x); /* delay 3x */
}

@keyframes pulse {
	from {
		/* rgb(30, 144, 255) = dodgerblue */
		box-shadow: 0 0 rgba(30, 144, 255, 0.5);
	}

	to {
		box-shadow: 0 0 0 1em rgba(30, 144, 255, 0);
	}
}
